/* footer------------------------------------- */
.alligncart {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.content {
    flex: 1;
}
.footer {
    background-color: #232f3e;
    color: white;
    padding-top: 10px;
}   

.footer a {
    color: #ddd;
    text-decoration: none;
    font-size: 14px;
    display: block;
    margin: 5px 0;
}
.footer a:hover {
    text-decoration: underline;
}
.footer-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}
.footer-column {
    flex: 1 1 200px;
    margin-bottom: 20px;
}
.footer-column h4 {
    font-size: 16px;
    margin-bottom: 10px;
}
.footer-bottom {
    border-top: 1px solid #3a4553;
    text-align: center;
    padding: 20px;
    background-color: #131a22;
    
}
.footer-bottom img {
    width: 80px;
}
.footer-bottom select, .footer-bottom .country {
    margin: 0 10px;
    padding: 5px;
    background-color: #232f3e;
    color: white;
    border: 1px solid #555;
}

/* navigation bar-------------------------------- */

.navbar-brand {
    margin-left: 40px;
}
.custom-navbar {
    background-color: #001f3f;
}
#navbarNav {
    color: azure;
}